<div class="signup-maillist">
  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
    <form action="//comovocedesign.us16.list-manage.com/subscribe/post?u=902ae8b27bfc5acb3c6a68c7c&amp;id=84cabd2703" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <h2>
        Acompanhe novos episórios
      </h2>
      <p>
        Para companhar inscreva seu email abaixo
      </p>
      <div class="mc-field-group">
      	<label for="mce-FNAME">Nome</label>
      	<input type="text" value="" name="FNAME" class="mc-text" id="mce-FNAME" placeholder="nome" required>
      </div>
    <div class="mc-field-group">
    	<label for="mce-EMAIL">Email</label>
    	<input type="email" value="" name="EMAIL" class="mc-text required email" id="mce-EMAIL" placeholder="Email" required>
    </div>
    <input type="submit" value="Continuar" name="subscribe" id="mc-embedded-subscribe" class="btn-subscribe button">
    	<div id="mce-responses">
    		<div class="response" id="mce-error-response" style="display:none"></div>
    		<div class="response" id="mce-success-response" style="display:none"></div>
    	</div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_902ae8b27bfc5acb3c6a68c7c_84cabd2703" tabindex="-1" value=""></div>

        </div>
    </form>
    <p><small>Não enviamos spam, fique tranquilo!</small></p>
  </div>
</div>

<footer class="footer" role="contentinfo">
  <p>
    Podcast: Como você design for good?
    <span class="get-in-touch">
      Estamos bem próximos:
      <a href="mailto:comovocedesign@gmail.com">
        comovocedesign@gmail.com
      </a>
    </span>
  </p>
  <div class="footer-icon-right">
    <span class="icon icon-heart icon-heart-filled"></span>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/js/main.js"></script>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107394749-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());

    gtag('config', 'UA-107394749-1');
  </script>
</footer>
