<header class="site-header" role="banner">
  <div class="mobile-navegation">
    <a href="#" class="icon ic-menu"></a>
  </div>
  <nav class="header-navegation">
    <a href="/" class="header-logo icon logo"></a>
    <div class="navegation-link-content">
      <a class="navegation-link" href="/">Episódios</a>
      <a class="navegation-link" href="/">Sobre</a>
    </div>
  </nav>
  <div class="header-title">
    <div class="header-title--content">
      <div class="coming-soon">
        Lançamento em breve...
      </div>
      <h1 class="headline">
        Entrevistas com os grandes<br> da criação no Brasil
      </h1>
      <p class="sub-headline">
        Como você design for good? O design que faz diferença
      </p>
    </div>
  </div>
</header>
