/* #Navegation*/
.go-top {
  background-position: 0 -40px;
  position: fixed;
  width: 40px;
  height: 20px;
  bottom: 240px;
  right: 50px;
  display: none;
}
/* #Header */
.wrap {
  max-width: 1200px;
  margin: 0 auto;
}
/* #Content */

/* #Images */
.icon {
  background: url("/../../img/icons.png") no-repeat;
  background: url("/../../img/icons.svg") no-repeat;
  display: inline-block;
  position: relative;
}
.logo {
  width: 72px;
  height: 55px;
}
.icon-menu {background-position: 0 -545px;}

/* #Footer */
.footer {
  border-top: 3px solid #222222;
}
