@media only screen and (max-width:600px){
  /* #Navegation*/
    .header-navegation {
      text-align: center;
    }
  /* #Typography */
  h1, .headline {
    font-size: 34px;
  }
  /* #Header */
  /* #Content */
  .main-content {
    height: auto;
  }
  .main-content--person {
    flex-flow: wrap;
  }
  .footer,
  .main-content--person-item {
    width: 90%;
    margin: 0 auto;
  }
  .main-content--person-description {
    padding: 0;
  }
  /* #Images */
  .footer {
    margin-top: 80px;
  }
}
