@media only screen and (max-width:600px){
  /* #Navegation*/
    .header-navegation {
      width: 90%;
      margin: 0 auto;
    }
    .break-line {
      display: inline;
    }
  /* #Typography */
  h1, .headline {
    font-size: 34px;
    text-align: left;
  }
  /* #Header */
  .header-title,
  .site-header {
    text-align: left;
  }
  .signup-maillist,
  .header-title--content {
    width: 90%;
  }
  /* #Content */
  .main-content {
    height: auto;
    text-align: left;
  }
  .main-content--person {
    flex-flow: wrap;
  }
  .footer,
  .main-content--person-item {
    width: 90%;
    margin: 0 auto;
  }
  .main-content--person-description {
    padding: 0;
  }
  /* mail */
  .mc-field-group .mc-text {
    margin: 10px 0;
    width: 100%;
    display: block;
  }
  .mc-field-group #mc-embedded-subscribe,
  .mc-field-group {
    display: block;
  }
  /* #Footer */
  .footer {
    margin-top: 80px;
  }
  .get-in-touch {
    display: block;
  }
}
