/* Typography */
::-moz-selection{
  color:#000;
  background: #FBFE56;
}
::selection {
  color:#000;
  background: #FBFE56;
}

/* #Headlines */
h1,
.headline {
  font-size: 55px;
  line-height: 1.1;
  font-weight: 700;
  text-align: center;
}

/* #Sub-headlines */
.sub-headline {
  font-size: 21px;
  line-height: 1.5;
}

/* #title-person */
.title-person {
  font-size: 34px;
  font-weight: bold;
}
